# Python bytecode and cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
.env
.venv
env/
venv/

# IDE settings
.idea/
.vscode/

# Project specific data and outputs
*.npy
*.pkl
*.h5
*.csv
**/data/*
**/checkpoints/*
**/lightning_logs/*

# MacOS
.DS_Store
